<div class="container">
  <div class="row">
    <div class="col-md-12 py-3 mx-auto">
      <div class="row py-3">
        <h2 class="mx-auto">Agregar empleado</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form  class="form" [formGroup]="addForm" novalidate class="form">
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <input type="hidden" formControlName="eId" placeholder="Employee Id" name="eId" class="form-control" value="0">
               </div>
               <!--Input Nombre-->
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" formControlName="nombre">
                </div>

              </div>
              <div class="col-md-4">
                <!--Input Apellido Paterno-->
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1">Apellido paterno</label>
                  <input type="text" class="form-control" formControlName="apellidoP">
                </div>

              </div>
              <div class="col-md-4">
                <!--Apellido Materno-->
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1">Apellido materno</label>
                  <input type="text" class="form-control" formControlName="apellidoM">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <!--Input Fecha de Nacimiento-->
                <div class="form-group">
                  <label for="exampleInputPassword1">Fecha de nacimiento</label>
                  <input type="date" class="form-control" formControlName="fechaNac">
                </div>
              </div>
              <div class="col-md-4">
                <!--Input correo-->
                <div class="form-group">
                  <label for="correo" >E-mail: </label>
                  <input type="email" formControlName="correo" placeholder="Correo electronico" name="correo" class="form-control" formControlName="correo">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Puesto</label>
                  <input type="text" class="form-control" formControlName="puesto">
                </div>
              </div>
              <div class="col-md-4">
                <!--Input Salario-->
                <div class="form-group input-group-sm mb-3">
                  <label for="salario">Salario: </label>
                  <input type="number" placeholder="Salario del trabajador" name="salario" class="form-control" formControlName="salario">
                </div>
              </div>
              <div class="col-md-4">
                <!--Input contratista-->
                <div class="form-group input-group-sm mb-3">
                  <label for="contratista" >Contratista: </label>
                  <select name="contratista" class="form-control" placeholder="Seleccione una opcion" formControlName="contratista">
                      <option value="" disabled selected>Seleccione si es contratista</option>
                      <option value="0">No</option>
                      <option value="1">Si</option>
                  </select>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 ml-auto">
                <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
