<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Ver empleados</h2>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
              <th>Id</th>
              <th>Nombre (s)</th>
              <th>Apellido P</th>
              <th>Apellido M</th>
              <th>Fecha N.</th>
              <th>Puesto</th>
              <th>Salario</th>
              <th>Correo</th>
              <th>Contratista</th>
              <th colspan="2">Opciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
